.insolation-duration {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  &__icon {
    border: 1px solid red;
    font-size: 3rem;
  }

  &__time {
    border: 1px solid green;
    font-size: 2rem;
  }
}
