.daily-temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: rgba(47, 46, 49, 0.5);
  border-radius: 16px 16px 16px 16px;

  &:hover {
    box-shadow: 6px 6px rgba(180, 173, 173, 0.2);
    transition: 0.4s ease;
  }

  &__day {
    font-size: 3.5rem;
    color: whitesmoke;
  }

  &__weather-icon {
    font-size: 3rem;
    color: whitesmoke;
    padding-top: 1rem;
  }

  &__range {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1rem;

    &-low {
      border-right: 5px solid grey;
      color: rgb(28, 124, 235);
      padding-right: 1rem;
    }

    &-high {
      color: rgb(216, 157, 48);
      padding-left: 1rem;
    }
  }
}
