.temperature-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;

  &__type {
    font-size: 3rem;
  }

  &__temperature {
    font-size: 3rem;
  }
}
