.temperature-with-insolation {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.temperature-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.insolation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
